.searchbar_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchbar_container > input {
  flex: 1; /* 검색창이 가로로 공간을 꽉 채우도록 설정 */
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(100, 100, 100);
  background-color: rgb(0, 0, 0);
  color: white;
}

.searchbar_container > button {
  width: 80px;
  /border-radius: 5px;
  border: none;
  background-color: rgb(67, 67, 67);
  color: white; /* 버튼 텍스트를 흰색으로 설정 */
  cursor: pointer;
}
